@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
}

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas neue", cursive;
    --fonte-android: "Android", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: "\1F517";
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor04) ,var(--cor05));
    color: white;
    font-family: var(--fonte-destaque);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.366);
}

nav > a {
    color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.415);
    border-radius: 0px 0px 10px 10px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}


main .video {
    background-color: var(--cor06);
    text-align: center;
    margin: 0px -20px 30px -20px;
    padding: 20px 60px 20px 60px;
}

.video > iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor05); 
}

main h2 {
    background-image: linear-gradient(to right, var(--cor01), transparent);
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
}

main a {
    background-color: var(--cor02);
    color: var(--cor05);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover {
    color: var(--cor04);
    text-decoration: underline;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.256);
}

aside h3 {
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor01);
    text-decoration: underline;
}